# A Customised config file that will work "As is" with default Seedsigner hardware. (Raspberry Pi + Waveshare Colour LCD Hat)

# Scale factor of display when using hdmi or an FBCP-ILI9341 LCD HAT (1 to 16 inclusively) Zoom level of 5 looks good on SeedSigner Hardware
export TREZOR_OLED_SCALE=5

# Type of oled to use
#  NO OLED                  = 0
#  OLED_ADAFRUIT_I2C_128x64 = 1
#  OLED_SEEED_I2C_128x64    = 2
#  OLED_SH1106_I2C_128x64   = 3
#  OLED_ADAFRUIT_SPI_128x64 = 4
#  OLED_SH1106_SPI_128x64   = 5
# We can just set this to zero when using SeedSigner hardware
export TREZOR_OLED_TYPE=0

# Flip the display vertically. Set to 0 or 1 
export TREZOR_OLED_FLIP=0

# Set gpio number to use for the yes/no buttons (On Seedsigner Hardware, this sets the left button to be the "Joystick Click" and the right button to be "Key 2")
export TREZOR_GPIO_YES=20
export TREZOR_GPIO_NO=13

# Enable fbcp-ili9431 based display if required (Don't set this to 1 if you have also enabled an SPI based display above) This is needed when using SeedSigner Hardware...
export ENABLE_FBCPILI9341_DISPLAY=1

# Select Bitcoin Only Firmware if desired... Enabled by Default for SeedSigner config...
export BITCOIN_ONLY=1
